/* -- Defaults -- */
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

/* -- Layout -- */

.wrapper{
  width:95%;
}

ul{
  list-style:none;  
}

li{
    float:left;
    text-align: center;
    padding:1%;
}

picture, img{
   width: 100%;
   height: auto;
}


}

/* --- Media Queries --- */

/* -- Under 400px --*/
@media all and (max-width:400px){

img{ 
        content: url("http://placehold.it/400x400");
        max-width: 400px;
        max-height: 400px;
    }
    
}

/* -- between 400px and 600px --*/
@media all and (min-width:400px) and (max-width:600px){

    img{
        content: url("http://placehold.it/600x600");
        max-width: 600px;
        max-height: 600px;
    }
}

/* -- between 600px and 800px --*/
@media all and (min-width:600px) and (max-width:800px){

    img{
        content: url("http://placehold.it/400x400");
        max-width: 400px;
        max-height: 400px;
    }
    
    li{
      width:50%;
    }
}

/* -- between 800px and 1024px --*/
@media all and (min-width:800px) and (max-width:1024px){

    img{
        content: url("http://placehold.it/512x512");
        max-width: 512px;
        max-height: 512px;
    }
    
    li{
      width:50%;  
    }
}

/* -- Over 1024px --*/
@media all and (min-width:1024px){
    
    img{
        
        content: url("http://placehold.it/340x340");
        max-width: 340px;
        max-height: 340px;
    }
    
    li{ 
    width:33.33%;
    }

  }
  
    
}

  
  


